<div id="selectingContractLoader" class="loader" style="display: none;"></div>
<div id="selectedContract" style="display: none;">
  <div class="tabs">
    <div class="tab">
      <button id="contractInfoTab" class="tablinks active" onclick="openTab(event, 1)">Contract Info</button>
      <button id="contractEditTab" class="tablinks" onclick="openTab(event, 2); ">Edit Contract</button>
    </div>

    <div class="tabcontentalways" style="padding: 6px 12px 1px 12px;">
      <div id="contractTitle" class="form-header">
        <!-- CONTRACT NAME -->
      </div>
    </div>

    <div class="tabcontent" style="display: block; padding: 0px 12px;">
      <div id="contractInfo">
      </div>
    </div>

    <div class="tabcontent" style="display: none;">
      <div id="contractContent" style="display: block; padding: 0px 12px 12px 12px;">
        <span class="item">Contract Name:</span> <input type='text' id='contractName' class="textInput" value='' /><br>
        <span class="item">Address:</span> <input type='text' id='contractAddress' class="textInput" value=''
          readonly /><br>
      </div>

      <div id="contractManagementActions" class="form-footer">
        <!-- CONTRACT MANAGEMENT ACTIONS -->
      </div>

    </div>
  </div>

</div>

<script>
  /**
   *  Remove Contract.
   */
  const removeContract = (id) => {
    SmartpyWallet.contract.removeById(id);
  }
  /**
   *  Load Operations.
   */
  const loadContractOperations = (operations, network) => {
    $(`#contractCalls > tbody > tr`).remove();
    operations.forEach(op => {
      const row = document.createElement("tr");
      row.innerHTML = `
        <td>${op.type}</td>
        <td>${op.hash}</td>
        <td>${new Date(op.timestamp).toLocaleString()}</td>
        <td><button class="centertextbutton" onclick="openContractOperation('${op.hash}', '${network}');">Explore</button></td>
      `;
      row.className = `${op.status === "applied" ? "applied-op-bg" : "failed-op-bg"}`

      // Append to table.
      $("#contractCalls > tbody").append(row);
    });
  }
  const openContractOperation = (address, network) => {
    $(".modal-title").text('Explore Operation');

    $(".modal-body").html(`
      <div class="tab" style="display: flex; justify-content: center;">
        <button onclick="exploreContractOperation('${address}', '${network}', 'smartpy');">SmartPy Explorer</button>
        <button onclick="exploreContractOperation('${address}', '${network}', 'bcd');">Better Call Dev</button>
        <button onclick="exploreContractOperation('${address}', '${network}', 'tzkt');">TzKT</button>
        <button onclick="exploreContractOperation('${address}', '${network}', 'tzstats');">TzStats</button>
      </div>
    `);

    $("#modal-cancel-button").unbind('click');
    $("#modal-submit-button").hide();

    $(".modal-dialog").removeClass("modal-lg modal-sm").addClass("modal-lg")

    $("#modal").modal();
  }
  const exploreContractOperation = (address, network, explorer) => {
    if (explorer == 'smartpy') {
      window.open(`explorer.html?operation=${address}`);
    } else {
      window.open(`${EXPLORER[network][explorer]}/${address}`);
    }
  }
</script>


<!-- Form functions -->
<script>
  /**
   * Hide Contract Section
   */
  const hideContractSection = () => $("#selectedContract").hide();
  /**
   * Show Contract Section
   */
  const showContractSection = () => {
    $("#selectingContractLoader").hide();
    $("#selectedContract").show();
  }
  /**
   * Show Loading
   */
  const showSelectingContractLoader = () => {
    hideContractSection();
    $("#selectingContractLoader").show();
  }
</script>