<header>
  <div class="top-bar">
    <!--Logo-->
    <div class="logo">
      <a href="./" class="title">
        <div id="logo-image"></div>
        <p>by Smart Chain Arena</p>
      </a>
    </div>
    <!--Nav Tabs-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container dd-menu">
        <div class="row">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul id="navbar-nav" class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link" href="ide">
                    <div>
                      <span>Editor </span>
                      <div id="editor-link" class="nav-icon"></div>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="explorer.html">
                    <div>
                      <span>Explorer</span>
                      <div id="explorer-link" class="nav-icon"></div>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="wallet">
                    <div>
                      <span>Wallet</span>
                      <div id="wallet-link" class="nav-icon"></div>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="michelson">
                      <div>
                          <span>Michelson</span>
                          <div id="michelson-link" class="nav-icon"></div>
                      </div>
                      </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="help">
                      <div>
                        <span>Help</span>
                        <div id="help-link" class="nav-icon"></div>
                      </div>
                  </a>
                </li>
              </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  let tab = window.location.pathname.split("/").reverse()[0].split(".")[0];
  if (!tab || tab == "demo" || tab == "index") {
    tab = "editor"
  }
  try {
    document.getElementById(`${tab}-link`).parentElement.parentElement.className = "nav-link active"
  } catch {
    if (tab == "origination")
    {
      const li = document.createElement("li");
      li.className = "nav-item";
      li.innerHTML = `
        <a class="nav-link active" href="${tab}.html">
          <div>
            <span>${tab.charAt(0).toUpperCase()}${tab.slice(1)}</span>
            <div id="${tab}-link" class="nav-icon"></div>
          </div>
        </a>
      `;
      const navBar = document.getElementById("navbar-nav");
      navBar.insertBefore(li, navBar.children[1]);
    }
    if (tab == "node_explorer")
    {
      const li = document.createElement("li");
      li.className = "nav-item";
      li.innerHTML = `
        <a class="nav-link active" href="${tab}.html">
          <div>
            <span>${tab.charAt(0).toUpperCase()}${tab.slice(1)}</span>
            <div id="${tab}-link" class="nav-icon"></div>
          </div>
        </a>
      `;
      const navBar = document.getElementById("navbar-nav");
      navBar.insertBefore(li, navBar.children[2]);
    }
  }
</script>
