@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700';
@import 'asciidoctor.css';

#toc ul.sectlevel0>li {
    padding-top: 1em !important;
}

#toc ul.sectlevel0>li>a{
    color : #000084 !important;
    font-style:normal;
    font-weight:bold;
}
